.nav-btn{
    list-style-type:none ;
    display: flex;
    justify-content: flex-end;
     

}
 
.btns{
    margin: 10px;
}
a:active{
    color: black;
}
a:hover{
    color: black;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
.googleIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.searchBar{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: 500px;
    max-width: 584px;
    margin-top: 2%;
     
}
.btn1{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
     
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.head{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
} 
.separation{
    border-bottom: 1px solid #ebebeb;
}
.p1{
    margin: 30px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
 
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    margin: 30px;
    width: 180px;
    margin-top: 10px;
}
.right{
    width: 385px;
    margin-top: -19px;
}
.p-advanced{
    vertical-align: middle;
    font: size 13px; ;
}
.adv{
    padding-right: 16px;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.box{
    
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 350px;
}
.bluebtn{
    display: flex;
    justify-content: flex-end;
    width: 610px;
    
}


.btncont{
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid#3079ed;
    color: white;
    margin-top: -27px;
    cursor: pointer;
    user-select: none;
}